.form {
  padding-top: 4rem;
  max-width: 88rem;
  display: grid;
  gap: 1.2rem 4rem;
  grid-template-columns: 31rem 53rem;
  grid-template-areas:
    "number ."
    "subtitle inputs"
    "paragraph inputs"
    "list inputs"
    ". inputs";
}

@media screen and (max-width: 1024px) {
  .form {
    display: flex;
    gap: 0;
    max-width: 64.7%;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .form {
    max-width: 100vw;
    padding-top: 0;
  }
}
