.form__verification {
  display: flex;
  margin-top: 3.2rem;
  font-size: 0;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .form__verification {
    justify-content: space-between;
    box-shadow: 0 -0.4rem 1.2rem rgb(59 55 72 / 12%);
    padding: 2rem;
    margin: 2rem -2rem 0 -2rem;
  }
}
@media screen and (max-width: 350px) {
  .form__verification {
    padding: 0;
  }
}
