.radio-group__button {
  font-size: 1.8rem;
  line-height: 1.33;
  text-transform: lowercase;
}

@media screen and (max-width: 425px) {
  .button {
    font-size: 1.6rem;
    line-height: 1.25;
  }
}
