.footer__info {
  max-height: 20rem;
}

@media screen and (max-width: 1024px) {
  .footer__info:not(:first-of-type) {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__info {
    margin-top: 6rem;
  }

  .footer__info:last-of-type {
    margin-bottom: 4rem;
  }
}
