.button_filled {
  cursor: pointer;
  background: var(--purple-primary);
  border: 0.2rem solid var(--purple-primary);
  color: var(--light-primary);
}

.button_filled:hover {
  color: var(--light-primary);
  border: 0.2rem solid var(--purple-secondary);
  background: var(--purple-secondary);
}
