.page__content{
    max-width:1440px;
    margin:0 auto;
    padding-top:40px;
    padding-bottom:80px;
    color:var(--dark-primary);
}
@media screen and (max-width:580px){
    .page__content{
        padding-top:20px;
        padding-bottom:0;
    }
}
