.verification__button {
  margin-left: 1.2rem;
  min-width: 20.4rem;
}

.verification__button:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .verification__button {
    min-width: 15rem;
  }
}
@media screen and (max-width: 370px) {
  .verification__button {
    margin-left: 0;
  }
}
