.footer__title {
  margin: 0;

  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.12;
  letter-spacing: -0.04rem;
  text-transform: lowercase;
  color: var(--dark-primary);
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .footer__title {
    font-size: 2.4rem;
    line-height: 1.17;
  }
}
