.select-menu__container {
  position: relative;
  outline: none;
  min-width: 20rem;
  padding: 1.2rem ;
  border-radius: 20rem;
  color: var(--dark-primary);
  border: .2rem solid var(--dark-secondary);
  cursor: pointer;
  appearance: none;
  text-transform: lowercase;
  -webkit-appearance: none;
  transition-property: border;
  transition-duration: .2s;
}

.select-menu__container:focus {
  border-color: var(--purple-primary);
}
