.input {
  font-size: 1.8rem;
  line-height: 1.33;
  outline: none;
  min-width: 10rem;
  padding: 1.2rem 2.4rem;
  border-radius: 2.4rem;
  color: var(--dark-secondary);
  border: 0.2rem solid var(--dark-secondary);
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  transition-property: color, border;
  transition-duration: 0.2s;
}

.input:not(:placeholder-shown) {
  color: var(--dark-primary);
}

.input:focus {
  color: var(--dark-primary);
  border: 0.2rem solid var(--purple-primary);
}

@media screen and (max-width: 425px) {
  .input {
    font-size: 1.6rem;
    line-height: 1.25;
    padding: 1.2rem 2rem;
  }
}
