.footer__link {
  display: flex;
  align-items: center;

  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.33;

  color: var(--dark-primary);
  fill: var(--dark-primary);
  white-space: nowrap;
  transition: all linear 0.2s;
}

.footer__link:hover {
  color: var(--purple-secondary);
  fill: var(--purple-secondary);
}

@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 1.6rem;
    line-height: 1.25;
    min-width: 32rem;
    justify-content: space-between;
  }
}
