.form__border {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem;
  /* padding: 2rem 0 2rem; */
  border-bottom: 0.1rem solid var(--light-secondary);
  border-top: 0.1rem solid var(--light-secondary);
}
