.radio-group_filled {
  display: block;
  min-width: 15rem;
  padding-left: 0;
}

.radio-group_filled .input_type_radio[type="radio"] {
  display: none;
}

.radio-group_filled .radio-group__button {
  padding: 1.2rem 2.5rem;
  display: block;
  cursor: pointer;
  border: 0.2rem solid var(--dark-secondary);
  background-color: transparent;
  border-radius: 20rem;
  user-select: none;
  transition-property: background-color, color, border;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

/* Checked */
.radio-group_filled .input_type_radio[type="radio"]:checked + .radio-group__button {
  color: var(--light-primary);
  border-color: var(--purple-primary);
  background: var(--purple-primary) no-repeat center right 2.4rem url(../../../images/icon_selected.svg);
}

/* Hover */
.radio-group_filled .radio-group__button:hover {
  color: var(--purple-secondary);
  border: 0.2rem solid var(--purple-secondary);
  background: transparent;
}

/* Checked Hover*/
.radio-group_filled .input_type_radio[type="radio"]:checked + .radio-group__button:hover {
  color: var(--light-primary);
  border: 0.2rem solid var(--purple-secondary);
  background: var(--purple-secondary) no-repeat center right 2.4rem url(../../../images/icon_selected.svg);
}

/* Disabled */
.radio-group_filled .input_type_radio[type="radio"]:disabled + .radio-group__button {
  background: var(--light-primary);
  color: var(--dark-secondary);
}
