.steps__item {
  display: grid;
  grid-template-columns: minmax(3rem, 1fr) minmax(25.2rem, 30.6rem) minmax(min-content, 41.7rem);
  grid-column-gap: 4rem;

  box-shadow: inset 0 -.1rem 0 var(--light-secondary);
  padding: 2rem 0;
}

@media screen and (max-width: 1280px) {
  .steps__item {
    grid-column-gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .steps__item {
    grid-template-columns: 6.8rem 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 768px) {
  .steps__item {
    grid-template-columns: 5.8rem 1fr;
    grid-row-gap: 1.6rem;
  }
}
