.button_type_submit {
  cursor: pointer;
  background: none;
  border: 2px solid var(--dark-primary);
  color: var(--dark-primary);
}

.button_type_submit:hover {
  color: var(--purple-secondary);
  border: 2px solid var(--purple-secondary);
  background: none;
}