.footer {
  display: grid;
  padding: 8rem 0;
  grid-template-columns: min-content minmax(min-content, 31rem) minmax(min-content, 42.7rem) minmax(min-content, 31rem);
  gap: 4rem;
  justify-content: center;
  background-color: var(--light-secondary);
  min-height: 3.6rem;
}

@media screen and (max-width: 1280px) {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 31rem));
    justify-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    grid-template-columns: minmax(min-content, 31rem);
    justify-items: start;
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: var(--yellow);
    padding: 4rem 0;

  }
}

@media screen and (max-width: 425px) {
  .footer {
     display: none;
  }
}
