.radio-group__checkmark {
  font-size: 1.8rem;
  line-height: 1.33;
  color: var(--dark-primary);
  transition: all linear 0.2s;

  margin-bottom: 4rem;
}

.radio-group__checkmark:hover {
  color: var(--purple-secondary);
}

@media screen and (max-width: 768px) {
  .radio-group__checkmark {
    font-size: 1.6rem;
    line-height: 1.25;
  }
}

.radio-group__checkmark:last-of-type {
  margin-bottom: 0;
}
