.radio_filled {
  display: block;
  min-width: 15rem;
  padding-left: 0;
}
@media screen and (max-width:350px){
  .radio_filled{
    min-width: 10rem;
  }
}
.radio_filled .form__input[type="radio"] {
  display: none;
}

.radio_filled .location__radio-button {
  padding: 1rem 2.2rem;
  display: block;
  cursor: pointer;
  border: 0.2rem solid var(--dark-secondary);
  background-color: transparent;
  border-radius: 20rem;
  user-select: none;
  transition-property: background-color, color, border;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

/* Checked */
.radio_filled .form__input[type="radio"]:checked + .location__radio-button {
  color: var(--light-primary);
  border-color: var(--purple-primary);
  background: var(--purple-primary) no-repeat center right 2.4rem url(../../../images/icon_selected.svg);
}

/* Hover */
.radio_filled .location__radio-button:hover {
  color: var(--purple-secondary);
  border: 0.2rem solid var(--purple-secondary);
  background: transparent;
}

/* Checked Hover*/
.radio_filled .form__input[type="radio"]:checked + .location__radio-button:hover {
  color: var(--light-primary);
  border: 0.2rem solid var(--purple-secondary);
  background: var(--purple-secondary) no-repeat center right 2.4rem url(../../../images/icon_selected.svg);
}

/* Disabled */
.radio_filled .form__input[type="radio"]:disabled + .location__radio-button {
  background: var(--light-primary);
  color: var(--dark-secondary);
}
