.form__location {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

@media screen and (max-width: 768px) {
  .form__location {
    box-shadow: inset 0 0.1rem 0 var(--light-secondary);
    padding: 2rem 2rem 0;
  }
}
